Source: gcc-arm-none-eabi-snapshot
Section: devel
Priority: optional
Maintainer: Frank Terbeck <ft@bewatermyfriend.org>
Build-Depends:
 autoconf2.64,
 autogen,
 autotools-dev,
 gdb-binutils-arm-none-eabi-snapshot,
 bison,
 debhelper (>= 9.0.0),
 dh-autoreconf,
 dejagnu,
 flex,
 gawk,
 gettext,
 libgmp-dev,
 libmpc-dev,
 libmpfr-dev,
 libtool,
 locales,
 lsb-release,
 lzma,
 m4,
 patchutils,
 sharutils,
 texinfo,
 xz-utils,
 zlib1g-dev,
 libisl-0.18-dev,
 libcloog-isl-dev,
 subversion,
 rename,
 pxz,
Standards-Version: 4.2.0
Homepage: http://gcc.gnu.org/
Vcs-Git: https://github.com/ft/gcc-arm-none-eabi-snapshot.git
Vcs-Browser: https://github.com/ft/gcc-arm-none-eabi-snapshot

Package: gcc-arm-none-eabi-snapshot
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, gdb-binutils-arm-none-eabi-snapshot
Recommends: libnewlib-snapshot-arm-none-eabi
Conflicts: gcc-arm-none-eabi
Replaces: gcc-arm-none-eabi
Description: GCC cross compiler for ARM Cortex-R/M processors
 Bare metal C and C++ compiler for embedded ARM chips using Cortex-M, and
 Cortex-R processors.
 This package is based on the GNU ARM toolchain provided by ARM.

Package: gcc-arm-none-eabi-snapshot-source
Architecture: all
Depends: ${misc:Depends}
Conflicts: gcc-arm-none-eabi-source
Replaces: gcc-arm-none-eabi-source
Description: GCC cross compiler for ARM Cortex-R/M processors (source)
 Bare metal C and C++ compiler for embedded ARM chips using Cortex-M, and
 Cortex-R processors.
 This package is based on the GNU ARM toolchain provided by ARM.
 .
 This package contains the sources and patches which are needed
 to build the GNU Compiler Collection (GCC) for embedded ARM chips.
